body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #849dff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0015ff;
}

.error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}
